<article>

	<img src="headshot.jpg" class="headshot text-center img-circle img-responsive" alt="picture of me">
	<p>
		Kevin Stewart is a 20 year old guy living in the Greater Toronto Area attending Sheridan College in the <em>Software Development and Network Engineering</em> program.
	</p>

	<h3 class="about-subtitle">Experience</h3>
	<p>
		I have a lot of experience building websites using the latest standards and design patterns. During my co-op opportunity at RBC, I worked on the front-end of a couple of different websites and designed some proof-of-concept websites to present to divisions within RBC. A notable project I worked on was a small-scale internal tool which ended up being internally available to everyone at RBC. I worked on the backend and frontend on that project.
	</p>
	<p>
		I also have a very strong understanding of the general web application architecture, particularly with J2EE. I also am proficient with SQL and general database theory, having learned it in a course I took and working with it in the previously mentioned project.
	</p>
	<p>
		You can visit the {{#link-to 'projects'}}projects{{/link-to}} page to see the source code of a couple of the personal projects I have worked on. You can also get in touch with me {{#link-to 'social'}}here.{{/link-to}}
	</p>
</article>
