<div class="panel panel-default">
  <div class="panel-heading project-popup">
    <a class="btn btn-primary pull-right" {{bind-attr href=url}}>View {{title}} on Github</a>
  </div>
  <div class="panel-body">
    <p>{{description}}</p>
  </div>
</div>


