<a class="btn btn-default" href="http://ca.linkedin.com/in/kevinjstew/">linkedin</a>
<a class="btn btn-default" href="http://twitter.com/kevin__js">twitter</a>
<a class="btn btn-default" href="http://www.last.fm/user/grouperfish">last.fm</a>